@media screen and (min-width: 780px) {
  body {
      background-color: lightgreen;
  }
}

body {
//  background-image: url("backgroundImg.jpg");
}

#benefitsPage {
  background-color: #dce7f3;
  border-top: 7px solid lightgrey;
}

#contactPage {
  background-color: lightyellow;
}

#homePage {
  background-color: #00e699;
}

.navLists {
  background-color: "#efefef";
}
.navLists:hover {
    background-color: lightblue;
    font-size: 110%;
}



#slideShowImgs {
  width: 175%;
}
